input, textarea {
  outline-style:none;
  width: 100%;
  background-color: #ededed;
  border: none;
  height: 40px;
  margin: 0;
  padding: 0;
}

input[type=text] {
  color: #383838;
  text-indent: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #383838;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #383838;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #383838;
}
:-moz-placeholder { /* Firefox 18- */
  color: #383838;
}

table {
  font-size: 12px;
  width: 240px;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  padding: 0;
}

#table-login {
  top: 30px;
}

#table-login tr {
  height: 40px;
}

#table-login th {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
}

#table-login th img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#table-login .tr-mainimage {
  width: 240px;
  height: 180px;
}

#table-login .tr-mainimage img{
  width: 240px;
  margin-left: 0px;
}

#table-invest {
  top: 265px;
}

#table-invest th, #table-invest td, {
  height: 30px;
}

#table-invest th {
  color: #ededed;
  background-color: #383838;
  text-indent: 10px;
}

.modal-body pre {
  color: red;
  text-align: left;
}
