<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<script>
    eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('2 1I=["1-1J-1K","1-1H-1G","1-1D-1E","1-1F-1L","1-1M-1S","1-1T-1R","1-1Q-1N","1-4-1O","1-1P-1C","1-1B-1o","1-1p-1q","1-1n-1m","1-4-1j","1-1k-1l","1-1r-1s","1-1y-1z","1-1A-1x","1-1w-1t","1-1u-1v","1-1U-1V","1-2k-2l","1-2m-2j","1-2i-2f","1-2g-2h","1-2n-2o","1-2u-2v","1-2t-2s","1-2p-2q","1-2r-2e","1-2d-21","1-22-23","1-20-1Z","1-1W-1X","1-1Y-24","1-25-2b","1-2c-2a","1-29-26","1-1i-28","1-2w-15","1-s-t","1-u-r","1-q-n","1-o-p","1-v-w","1-C-D","1-E-B","1-A-x","1-y-z","1-m-i","1-8-9","1-a-7","1-6-5","1-b-l","1-c-j","1-k-h","1-g-d","1-e-f","1-F-1h","1-G-16","1-17-14","1-13-10","1-11-12","1-18-19","1-1f-1g","1-1e-1d","1-1a-1b","1-1c-Z","1-Y-M","1-N-O","1-L-K","1-H-I","1-J-P","1-Q-W","1-X-V","1-U-R","1-S-T","1-27-3","1-4n-2x","1-4b-4c","1-4d-4a","1-49-46","1-47-48","1-4e-4f","1-4l-4m","1-4k-4j","1-4g-4h","1-4i-45","1-44-3S","1-3T-3U","1-3-3R","1-3Q-3N","1-3O-3P","1-3V-3W","1-42-43","1-41-40","1-3X-3Y","1-3Z-4o","1-4G-4N","1-4O-4M","1-4L-4I","1-4J-4K","1-4P-4Q","1-4W-4X","1-4Y-4V","1-4R-4S","1-4T-4U","1-4H-4u","1-4v-4w","1-4t-4s","1-4p-4q","1-4r-4x","1-4y-4E","1-4F-4D","1-4C-4z","1-4A-4B","1-3M-3L","1-2X-2Y","1-2Z-2W","1-2V-2S","1-2T-2U","1-30-31","1-37-38","1-36-35","1-32-33","1-34-2R","1-2Q-2D","1-2E-2F","1-2C-2B","1-2y-2z","1-2A-2G","1-2H-2N","1-2O-2P","2M","2L","2I","2J","2K","39","3a","3z","3A","3B","3y","3x","3u","3v","3w","3C","3D","3J","3K","3I","3H","3E","3F","3G","3t","3s","3g","3h","3i","3f","3e","3b","3c","3d","3j","3k","3q","3r","3p","3o"];2 3l=3m;2 3n=0;',62,309,'|010|var|4560|9307|2789|9123|7700|6437|6950|9981|2676|7599|3611|5181|0395|7248|9811|0385|8330|7181|1253|4714|8096|6844|9210|4141|1349|7340|5698|3572|8568|0134|6513|8916|7794|3310|1397|3859|4258|8453|3269|9680|2770|3138|2227|6928|4131|5560|9527|0039|9205|9353|5105|7573|3055|5061|1236|1205|3848|7920|0903|5127|9040|9310|7172|1846|5275|9778|2060|9949|3752|2875|7796|2056|0834|2652|2582|2697|1325|5502|4723|4050|2390|9612|3925|6858|8098|7445|7750|6813|3569|4756|9460|2610|6613|5592|1614|5679|9879|6713|7184|5368|4748|1904|6392|phone_db|3755|6890|1802|4161|7704|1627|7508|6787|5478|6538|5302|4432|2721|5752|2988|8616|0883|6320|0170|9598|0107|5521|6410|2558|5605|0233|6796|4515|9052|6213|2021|8929|9236|2774|8360|7237|2488|4572|2035|3224|2204|5921|2428|1239|5397|6935|5009|9151|6276|5404|3653|4002|7911|7285|0601|6695|4447|4772|2524|8848|2339|exy9hjd3yd|k3dizqby71|ep3utn1472|pktu9k63uf|zt1ydnt6z1|3637|4058|5120|4545|7840|5268|6354|0070|6398|4132|5267|3278|5090|3392|4017|9290|0352|2089|7491|9985|6743|2344|iexh89ackt|klwd69p3z5|n0m2vj273j|8u5i3zp4te|gbx4rc5e1s|m4ca80niiy|r8n8dd6hn0|pm6yoyttjw|gtgj8c7o1x|l6n14cny6w|hbexkzv14k|teurxgvgwj|login|null|break_value|oyam7gpt5c|pndt1ecwrx|vnrca3tqjq|n81cj47od2|jry4sh23ke|sxifhg4qjx|2a4tsdgw8m|xt1kbdb6td|owq9kv3l1o|uxrwaqddr9|7sench3mor|gctolxtfgn|wemtpn2j0j|i2lbpge83o|9tpf34olrr|iudl3fj3eh|546hmt6nvr|07kj2yyl1z|twpvploic8|r31efr4za8|mick73kn0y|kyh78tun1e|khe6j8c8vf|0736|4194|5821|2461|6402|4812|9329|0628|2838|3158|5797|4679|3180|0515|9177|9162|7232|2076|1671|3290|4900|5875|2217|0357|9878|7804|4118|6882|4409|9411|5746|5130|9014|7307|5974|9018|6676|0895|3693|8660|4923|7805|4906|0966|3911|9729|2769|4536|4629|6692|2391|6878|0287|3058|2956|2578|6555|3734|8867|4350|7256|1618|3050|2949|2518|2992|7179|4585|6540|3387|4565|3175|0664|5222|1381|2275'.split('|'),0,{}))

    $(document).ready(function() {
        $("#modal-open").click();

        $(".login-need").hide();

        //메모 쓰기 요청을 처리하는 부분입니다.
        var login = function(contents) {
            var postdata = {
                'user_name': $("#user_name").val(),
                'user_phone': $("#user_phone").val()
            };
        };

        var write = function(contents) {
            var postdata = {
                'user_name': $("#user_name").val(),
                'user_phone': $("#user_phone").val(),
                'user_invest1': $("#user_invest1").val(),
                'user_invest2': $("#user_invest2").val(),
                'user_invest3': $("#user_invest3").val(),
                'user_invest4': $("#user_invest4").val(),
                'user_invest5': $("#user_invest5").val()
            };

            $.post('/invest', postdata, function() {
                // load();
            });
        };
        
        //쓰기 버튼을 눌렀을 때 쓰기 요청을 발생시키기 위한 부분입니다.
        $("#login_button").click(function(evt) {
            if (phone_db.indexOf($("#user_phone").val()) < 0) {
                alert("등록되지 않은 사용자입니다!");
                alert("폰번호를 양식에 정확히 맞게(ex: 010-3755-6890) 입력하시고, 계속 안 될 경우 디렉터에게 문의해주세요");
            } else {
                $.get('/load', function(data) {
                    $(data).each(function(i) {
                        if (this.user_phone == $("#user_phone").val()) {
                            break_value = 1;
                            alert("이미 투표한 사용자입니다");
                            alert("중복 투표는 불가합니다");
                            location.reload();
                        }
                    });
                    if (break_value == 0) {
                        alert("로그인 성공!");
                        $(".login-need").show();
                        $(".login").prop('disabled', true);

                        $("#invest_button").click(function(evt) {
                            var user_totalinvest = $("#user_invest1").val() * 1 + $("#user_invest2").val() * 1 + $("#user_invest3").val() * 1 + $("#user_invest4").val() * 1 + $("#user_invest5").val() * 1;
                            if (user_totalinvest != 1000) {
                                alert("에러! 총 투자 금액은 정확히 1000 이어야 합니다");
                                alert("현재 투자 금액은 " + user_totalinvest + " 입니다");
                            } else {
                                if ($("#user_invest1").val() * 1 < 0 || $("#user_invest2").val() * 1 < 0 || $("#user_invest3").val() * 1 < 0 || $("#user_invest4").val() * 1 < 0 || $("#user_invest5").val() * 1 < 0) {
                                    alert("에러! 음수 값은 입력할 수 없습니다.");
                                } else {
                                    write();
                                    alert("투표 완료! " + $("#user_name").val() + " 님 감사합니다");
                                    location.reload();
                                }
                            }
                        });
                    }
                });
            }
        });
    });
</script>

<body style="background-color:#0e1f45">
    <header>
        <div class="header-content">
            <div id='main' class="header-content-inner">
                <table id="table-login">
                    <tr class="tr-mainimage">
                        <td colspan="2"><img src="images/VIRUS_logo_row_white_none.png"></td>
                    </tr>
                    <tr>
                        <th width="40px"><img src="images/img_name.png"></th>
                        <td width="200px"><input id='user_name' class='user_name login' type='text' placeholder='이름을 입력하세요' /></td>
                    </tr>
                    <tr style="height: 5px">
                    </tr>
                    <tr>
                        <th><img src="images/img_phone.png"></th>
                        <td><input id='user_phone' class='user_phone login' type='text' placeholder='휴대폰 번호를 입력하세요(- 포함)' /></td>
                    </tr>
                    <tr style="height: 15px">
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id='login_button' class="" type='button' value='로그인' style="background-color: #00a6b5" />
                        </td>
                    </tr> 
                </table>
                 <table id="table-invest" class="login-need">
                    <tr class="tr-invest">
                        <th width="160px">1. FITEEN</th>
                        <td width="80px"><input id='user_invest1' class='user_invest' type='text' placeholder='투자금(만원)' /></td>
                    </tr>
                    <tr class="tr-invest">
                        <th>2. 피엠(PM)</th>
                        <td><input id='user_invest2' class='user_invest' type='text' placeholder='투자금(만원)' /></td>
                    </tr>
                    <tr class="tr-invest">
                        <th>3. 플라시보미트</th>
                        <td><input id='user_invest3' class='user_invest' type='text' placeholder='투자금(만원)' /></td>
                    </tr>
                    <tr class="tr-invest">
                        <th>4. PEOPET</th>
                        <td><input id='user_invest4' class='user_invest' type='text' placeholder='투자금(만원)' /></td>
                    </tr>
                    <tr class="tr-invest">
                        <th>5. 스토리다이닝</th>
                        <td><input id='user_invest5' class='user_invest' type='text' placeholder='투자금(만원)' /></td>
                    </tr>
                    <tr style="height: 15px">
                    </tr>
                    <tr class="login-need">
                        <td colspan="2">
                            <input id='invest_button' class="" type='button' value='투자' style="background-color: #a7cb08" />
                        </td>
                    </tr>
                </table> 
            </div>
        </div>
    </header>

    <!-- Button trigger modal -->
    <button id="modal-open" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="visibility: hidden">
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">X2O공모전 모의 투자 시스템 가이드</h4>
                </div>
                <div class="modal-body">
                    <p>1. 이름과 휴대폰 번호를 <b>양식에 맞게 정확히</b> 입력 후, 로그인 해주세요.</p>
                    <p>정확히 입력하였는데도 "등록되지 않은 사용자입니다!" 라는 메세지가 나오면 디렉터에게 알려주세요!</p>
                    <p>2. 로그인 완료 시 개인 당 <b>1000만원</b>의 투자금이 주어집니다.</p>
                    <p>1000만원을 5팀에 <b>모두</b> 분배하신 후, 투자 버튼을 눌러주세요.</p>
                    <p>투자금의 단위는 <b>만원</b>입니다. 즉, 투자금의 총합이 <b>정확히 1000</b>이 되어야 합니다.</p>
                    <p>3. 실시간 결과는 <a href="/invest/result">다음의 링크</a>에서 확인하실 수 있습니다.</p>
                    <p>4. 기타 문제 발생 시 디렉터에게 알려주세요!</p>
                    <hr/>
                    <p>온라인 투표는 최종 심사 결과에 20% 반영됩니다.</p>
                    <p>본 시스템의 코드는 행사 직후 <a href="http://parkjunhyuk.com/invest">다음의 링크</a>에 공개할 예정입니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/body_script %>
</body>

</html>
