<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <script>
            var load = null;
            var del = null;

            var user_invest1_total = 0;
            var user_invest2_total = 0;
            var user_invest3_total = 0;
            var user_invest4_total = 0;
            var user_invest5_total = 0;

            var user_invest_number = 0;

            $(document).ready(function() {
                //작성된 메모 목록을 로드합니다.
                $.get('/load', function(data) {
                    $("#invest").empty();

                    $(data).each(function(i) {
                        user_invest1_total = user_invest1_total + this.user_invest1;
                        user_invest2_total = user_invest2_total + this.user_invest2;
                        user_invest3_total = user_invest3_total + this.user_invest3;
                        user_invest4_total = user_invest4_total + this.user_invest4;
                        user_invest5_total = user_invest5_total + this.user_invest5;
                        user_invest_number = user_invest_number + 1;
                    });

                    var ctx = document.getElementById("myChart");

                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ["1. FITEEN", "2. 피엠(PM)", "3. 플라시보미트", "4. PEOPET", "5. 스토리다이닝"],
                            datasets: [{
                                label: '# of Votes',
                                data: [user_invest1_total, user_invest2_total, user_invest3_total, user_invest4_total, user_invest5_total],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true
                                    }
                                }]
                            }
                        }
                    });

                    $("#invest-number").append("<p style=''>현재까지 투표한 총 인원 수는 <b>" + user_invest_number + "</b> 명 입니다.</p>");

                });


            });


        </script>
</head>

<body>
    <div id='result'>
        <div class='item'>
        </div>
    </div>
    <div id="invest-number" style="margin-top: 30px; text-indent: 15px;">
    </div>
    <canvas id="myChart"></canvas>
    <% include ../partials/body_script %>
</body>

</html>
